.waiting-card {
  border: 1px dashed #9e9e9e;
  background: #fafafa;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  position: relative;
  max-width: 720px;
  width: 100%;
}
.waiting-card .underline {
  text-decoration: underline;
}
.mb-8 {
  margin-bottom: 1.25rem;
}
.full-center {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waiting-icon {
  font-size: 28px;
  margin-right: 8px;
}

.buttons--long {
  display: flex;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 10px;
}


.org-columns {display: grid;  grid-template-columns: 1fr 1fr; gap: 16px;}

.search-field { width: 100%; }
.center { display: flex; justify-content: center; padding: 16px 0; }
.error { color: #b00020; margin-top: 8px; }
.item-content { display: flex; align-items: center; width: 100%; gap: 5px; }
.item-content .name { font-weight: 500; }
.item-content .spacer { flex: 1 1 auto; }

.card-actions { margin-top: auto; }

.item-content { flex-direction: column; gap: 3px; }
.item-content { align-items: flex-start; }
.mdc-list-item.mdc-list-item--with-one-line { height: 70px; }

@media (max-width: 850px) {
  .student-list .mdc-list-item.mdc-list-item--with-one-line { height: 70px; }
  .instructor-list .mdc-list-item.mdc-list-item--with-one-line { height: 130px; }
  .org-columns {grid-template-columns: 1fr;}
  .buttons--long {
    flex-direction: column;
  }
}

.accept-green {
  background-color:#4abe51 !important;
  color: #fff !important;
}

.accept-green:hover {
  background-color: #3dbf44 !important; }
