.waiting-card {
  background: #fafafa;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  max-width: 720px;
}
.waiting-card .underline {
  text-decoration: underline;
}

.full-center {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waiting-icon {
  font-size: 28px;
  margin-right: 8px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: -webkit-fill-available;
  justify-content: flex-end
}

.org-columns {display: grid;  grid-template-columns: 1fr 1fr; gap: 16px;}

.search-field { width: 100%; }
.center { display: flex; justify-content: center; padding: 16px 0; }
.error { color: #b00020; margin-top: 8px; }
.item-content { display: flex; align-items: center; width: 100%; gap: 5px; margin-top: 5px; margin-bottom: 5px;}
.item-content .name { font-weight: 500; }
.item-content .spacer { flex: 1 1 auto; }

.card-actions { margin-top: auto; }

.mdc-list-item.mdc-list-item--with-one-line {
  height: 55px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: #ada9a9 1px solid;
  border-radius: 6px;
  background-color: #f7f7f7;
}

@media (max-width: 950px) {
  .mdc-list-item.mdc-list-item--with-one-line { height: 90px; }
  .org-columns {grid-template-columns: 1fr;}
  .item-content { align-items: flex-start; flex-direction: column; gap: 0; }
}

.accept {
  border-radius: 6px;
  background-color:#4abe51 !important;
  color: #fff !important;
}

.accept:hover {
  background-color: #3dbf44 !important;
}

.reject {
  border-radius: 6px;
  background-color:#e04e4e !important;
  color: #fff !important;
}

.reject:hover {
  background-color: #bf2323 !important;
}




