<section class="container">
  @if (isStudentInOrg()) {<h1>Ste členom organizácie</h1>}

  @if (error()) {<div class="alert alert--error">{{ error() }}</div>}

  @if (loading()) {
    <div>Načítavam...</div>
  } @else {
    <div class="grid">
      @for (org of organizations(); track org.id) {
        <div class="card">
          <div class="card__title">{{ org.name }}</div>
          @if (org.imageUrl) {
            <img [src]="org.imageUrl" alt="Logo organizácie" class="card__image" />
          }
          @if (isStudent() && auth.isAuthenticated() && !isStudentInOrg()) {
            <br>
            <button class="btn btn-primary" (click)="joinSendRequest(org)" [disabled]="studentHasPending()">Pripojiť sa</button>
          }
        </div>
      }
    </div>
  }
</section>
