<section class="container">
  @if (isStudentInOrg()) {<h1>Ste členom organizácie</h1>} @else {<h1>Organizácie</h1>}

  @if (error()) {<div class="alert alert--error">{{ error() }}</div>}
<!--  @if (success()) {<div class="alert alert--success">{{ success() }}</div>}-->

  @if (isInstructor()) {
    @if (hasOrg() === false) {
      <form class="create" [formGroup]="createForm" (ngSubmit)="createOrganization()">
        <input type="text" placeholder="Názov organizácie" formControlName="name" />
        <button type="submit" [disabled]="createForm.invalid">Vytvoriť organizáciu</button>
      </form>
      <div class="alt-option">
        <a routerLink="/instructors">Alebo sa pripojiť k existujúcej organizácii ako inštruktor</a>
      </div>
    } @else if (hasOrg() === true) {
      <div class="alert alert--info">Už máte vytvorenú organizáciu. Použite stránky <a routerLink="/waiting-room">Čakáreň</a>, <a routerLink="/members">Študenti</a>, <a routerLink="/vehicles">Vozidlá</a>, <a routerLink="/groups">Skupiny</a> a <a routerLink="/reservations">Rezervácie</a>.</div>
    }
  }

  @if (loading()) {
    <div>Načítavam...</div>
  } @else {
    <div class="grid">
      @for (org of organizations(); track org.id) {
        <div class="card">
          <div class="card__title">{{ org.name }}</div>
          @if (isStudent() && auth.isAuthenticated() && !isStudentInOrg()) {
            <button class="join" (click)="joinSendRequest(org)" [disabled]="studentHasPending()">Pripojiť sa</button>
          }
        </div>
      }
    </div>
  }
</section>
