.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /*many columns as fit in the container with a minimum width of 220px for each column*/
  gap: .75rem;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: .75rem;
  padding: 1rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__title { font-weight: 600; }

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 8px;
  display: block;
  border-radius: 6px;
}

