<div class="wrapper">
  <mat-card class="card card--md" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Obnova hesla</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          @if (form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)) {
            <mat-error>
              Zadajte platný email.
            </mat-error>
          }
        </mat-form-field>

        <button class="btn btn-primary"  type="submit" [disabled]="form.invalid || loading()">
          Odoslať žiadosť na email
        </button>

        <div class="links">
          <a routerLink="/login">Späť na prihlásenie</a>
        </div>

        @if (error()) {
          <p class="error">{{ error() }}</p>
        }
        @if (success()) {
          <p class="success">{{ success() }}</p>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
